<footer class="foot">
  <ul>
    <% if session[:login] == 1 %>
      <%= link_to 'New Product Item', new_productitem_path, :class =>"button", :role=>"button" %>
    <% end %>
    <li><%= link_to "Product Items", productitems_path %> </li>
  </ul>
  <h1>This is the footer</h1>
</footer>